.layout{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background:#f5f7fa;
}

.main-container{
    display:flex;
    flex:1;
}

.content{
    flex:1;
    padding:25px;
    overflow:auto;
}