<header class="header">

    <div class="logo">
        🚀 MFE Portal
    </div>

    <nav>

        <a routerLink="/products" routerLinkActive="active">
            Products
        </a>

        <a routerLink="/users" routerLinkActive="active">
            Users
        </a>

        <a routerLink="/orders" routerLinkActive="active">
            Orders
        </a>

        @if (auth.isAdmin()) {
        <a routerLink="/admin" routerLinkActive="active">
            Admin
        </a>
        }

    </nav>

    <div class="profile">

        <img src="https://i.pravatar.cc/40" alt="Profile">

        <span>
            Welcome {{ auth.currentUser()?.email }}
        </span>

        <button type="button" (click)="logout()">
            Logout
        </button>

    </div>

</header>