.header{

    height:70px;

    background:#2563eb;

    color:white;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 30px;

    box-shadow:0 3px 10px rgba(0,0,0,.15);

    position:sticky;

    top:0;

    z-index:1000;

}

.logo{

    font-size:30px;

    font-weight:bold;

}

nav{

    display:flex;

    gap:35px;

}

nav a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;

}

nav a:hover{

    color:#ffd54f;

}

.active{

    font-weight:bold;

    border-bottom:2px solid white;

    padding-bottom:5px;

}

.profile{

    display:flex;

    align-items:center;

    gap:10px;

}

.profile img{

    width:42px;

    height:42px;

    border-radius:50%;

}